## Editors temporary files
*~
*.swp
.#*
*.*#
*.autosave
# xemacs temporary files
*.flc


## eclipse project files
.cproject
.project
.settings/

## QT project files
*.pro
*.pro.user
*.pro.user*


## Compiled Object files
*.o
*.obj

## Compiled Static libraries
*.a
*.lib

## Compiled Dynamic libraries
*.dll
*.so
*.so.*

## Binary files
*.exe


## Generated documentation
doc/

## MarkDown temporary files
*.md.html
